/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
.sass-cache

# rspec failure tracking:
.rspec_status

# Ignore gallery cache:
/wiki/public/_gallery
/wiki/static

